<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/reusables.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/dashboard.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/add_trip.css'%}"/>
    <script src="{% static 'trip_app/js/dashboard.js' %}"></script>
    <script src="{% static 'trip_app/js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'trip_app/js/bootstrap.min.js' %}"></script>
    <title>Travel Planner</title>
  </head>

  <body>
    <!-- responsive navigation bar from bootstrap tutorials -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'trip_app.views.dashboard' %}">Travel Planner</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- center links in the nav bar -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-center">
            <li class="links"><a href="#">Lorem<span class="sr-only">(current)</span></a></li>
            <li class="links"><a href="#">Quisque</a></li>
            <li class="links"><a href="#">Vestibulum</a></li>
            <li class="links"><a href="#">Mauris</a></li>
          </ul>

          <!-- dropdown menu -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a id="dropdown-btn" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{user.email}}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a id="profile-link" href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a id="settings-link" href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a id="signout-link" href="{% url 'trip_app.views.signout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="dashboard">
      <div class="trips">
        <div class="trip-actions">
          <span>
            <input type="text" class="form-control" placeholder="Search for...">
            <a href="#" class="btn btn-primary btn-md" data-toggle="modal" data-target="#tripModal"><span class="glyphicon glyphicon-plus"></span> New Trip</a>
          </span>

        </div>
        <ul class="trip-list">
          {% for trip in trips %}
          <li id="{{trip.id}}" class="trip" onclick="toggle_active({{trip.id}}); show_activities({{trip.id}})">
            <h4 class="trip_name">{{trip.trip_name}}</h4>
            <a class="edit-btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-edit"></span>
            </a>

            <ul class="dropdown-menu edit-menu">
              <li><a id="add-activ-link" href="#" data-toggle="modal" data-target="#activModal"><span class="glyphicon glyphicon-plus"></span> Add Activity</a></li>
              <li role="separator" class="divider"></li>
              <li><a id="edit-link" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
              <li role="separator" class="divider"></li>
              <li><a id="delete-link" href="#"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
            </ul>
            <h5 class="trip_desc">{{trip.trip_description}}</h5>
            <h6 class="trip-date">{{trip.start_date|date:"m/d/y" }}</h6>
          </li>
          {% endfor %}
        <ul>
      </div>

      <div class="activities">
        <h3><strong>Dashboard</strong></h3>
        <div>
          <ul id="activity-list" class="activity-list">
            <script>
              function show_activities(id) {
              clear();
              {% for a in activities %}
                if("{{a.trip.id}}" == id && if_activity_selected(id)) {
                  show_activity_list("{{a.activ_name}}", "{{a.activ_location}}",
                    "{{a.activ_description}}", "{{a.total_expenses}}",
                    "{{a.start_datetime}}", "{{a.end_datetime}}");
                }
              {% endfor %}
              }
            </script>
          </ul>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="tripModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form action="{{request.path}}" method="POST">
          {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New Trip</h4>
            </div>
            <div class="modal-body">
              <label>Trip Name: </label>
              <input class="input-lg" name="trip_name"  required>

              <label>Trip Description: </label>
              {{trip_form.trip_desc}}

              <label>Trip Location: </label>
              <input class="input-lg" name="trip_location"  required>

              <div id="date_picker">
                <label>Trip Start Date:</label>
                <p>{{trip_form.trip_start_date}}<p>
              </div>

              <div id="date_picker">
                <label>Trip End Date:</label>
                <p>{{trip_form.trip_end_date}}<p>
              </div>

            </div>

            <div class="modal-footer">
              <button name="add-trip-btn"  class="btn btn-default">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div class="modal fade" id="activModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form action="{{request.path}}" method="POST" onsubmit="set_id()">
          {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New Activity</h4>
            </div>
            <div class="modal-body">
              <input type="hidden", id="trip_activ_id" name='trip_activ_id'>
              <label>Acivity Name: </label>
              <input class="input-lg" name="activ_name"  required>

              <label>Activity Description: </label>
              {{activity_form.activ_description}}

              <label>Activity Location: </label>
              <input class="input-lg" name="activ_location"  required>

              <label>Activity Expense: </label>
              <input class="input-lg" type="number" step="0.01" min="0.00" value="0.00" name="activ_expense"  required>

              <div id="date_picker">
                <label>Activity Start Date:</label>
                <p>{{activity_form.activ_start_datetime}}<p>
              </div>

              <div id="date_picker">
                <label>Activity End Date:</label>
                <p>{{activity_form.activ_end_datetime}}<p>
              </div>

            </div>

            <div class="modal-footer">
              <button name="add-activ-btn"  class="btn btn-default">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>


  </body>
</html>
