<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/reusables.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/img-transitions.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/login_signup.css'%}"/>
    <script src="{% static 'trip_app/js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'trip_app/js/img_transitions.js' %}"></script>
    <script src="{% static 'trip_app/js/login_signup.js' %}"></script>
    <script src="{% static 'trip_app/js/bootstrap.min.js' %}"></script>
    <title>Travel Planner</title>
  </head>

  <body onresize="adapt()" onload="adapt()">
   <!-- transitioning background -->
   <div id="bg">
     <div id="img-ctrls">
        <span id="spring" class="selected" onclick="select_spring()"></span>
        <span id="summer" onclick="select_summer()"></span>
        <span id="fall" onclick="select_fall()"></span>
        <span id="winter" onclick="select_winter()"></span>
     </div>

      <img id="spring-bg" class="bg-active" src="../../static/trip_app/images/spring.jpg">
      <img id="summer-bg" src="../../static/trip_app/images/summer.jpg">
      <img id="fall-bg" src="../../static/trip_app/images/fall.jpg">
      <img id="winter-bg" src="../../static/trip_app/images/winter.jpg">
    </div>

    <!-- login signup form -->
    <div id="login-signup-form">
      <ul class="tab-group">
        <li id="login-tab" class="active" onclick="login_active()"><a href="#login">Log In</a></li>
        <li id="signup-tab" onclick="signup_active()"><a href="#signup">Sign Up</a></li>
      </ul>

      <!-- login form -->
      <div id="login-form">
        <h1>Welcome Back!</h1>

        <form id="login-actual-form" action="{{ request.path }}" method="POST">
          {% csrf_token %}
          <div class="field-wrap">
            <input class="input-lg" name="email" type="email" required>
            <label>Email Address<span class="req">*</span></label>
          </div>

          <div class="field-wrap">
            <input class="input-lg" name="password" type="password" required>
            <label>Password<span class="req">*</span></label>
          </div>

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          <button type="submit" value="Login" name="login-btn">Log In</button>
            <script>
              var x = "{{invalid}}";
              if(x == "True") {
                alert("Invalid email or password!");
                window.location.replace('{% url 'home' %}');
              }
            </script>
        </form>
      </div>

      <!-- signup form -->
      <div id="signup-form">
        <h1>Get Started For Free!</h1>

        <form action="{{ request.path }}" method="POST">
          {% csrf_token %}
          <div class="field-wrap">
            <input class="input-lg" name="email" type="email" required>
            <label>Email Address<span class="req">*</span></label>
          </div>

          <div class="field-wrap">
            <input class="input-lg" name="password" type="password" required>
            <label>Password<span class="req">*</span></label>
          </div>

          <div class="field-wrap">
            <input class="input-lg" name="password_conf" type="password" required>
            <label>Password Confirmation<span class="req">*</span></label>
          </div>

          <button type="submit" value="SignUp" name="signup-btn">Sign Up</button>
          <script>
            var x = "{{password_not_match}}";
            var y = "{{not_unique_email}}";
            if(x == "password_not_match") {
              alert("Passwords does not match!");
              window.location.replace('{% url 'home' %}');
            }
            else if(y == "not_unique_email") {
              alert("Email already taken!");
              window.location.replace('{% url 'home' %}');
            }
          </script>
        </form>
      </div>
    </div>
    <script>transition()</script>
  </body>
</html>
