{% extends 'trip_app/header.html' %}

{% block 'styling' %}
  {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'trip_app/css/profile.css'%}"/>
    <script src="{% static 'trip_app/js/profile.js' %}"></script>
{% endblock %}

{% block 'content' %}  
		<form id="profile-form" class="profile-form" action="{{ request.path }}" method="POST">
          {% csrf_token %}
          <div class="field-wrap">
            <input class="input-lg" name="first_name" type="text" value={{user.first_name}} required>
            <label>First Name</label>
          </div>

          <div class="field-wrap">
            <input class="input-lg" name="last_name" type="text" value={{user.last_name}} required>
            <label>Last Name</label>
          </div>

          <div class="field-wrap">
            <input class="input-lg" name="email" type="email" value={{user.email}} required>
            <label>Email Address</label>
          </div>

          <div class="field-wrap" id="change-password">
          	<div onclick="change_password()" id="change-password-btn">Change Password</div>
          </div>

          <button class="profile-btn" type="submit">Save</button>
          <button class="profile-btn" type="button" onclick="location.href='{% url 'trip_app.views.dashboard' 0 %}';">Cancel</button>
          <script>
            var x = "{{password_not_match}}";
            var y = "{{not_unique_email}}";
            if(x == "password_not_match") {
              alert("Passwords does not match!");
              window.location.replace('{% url 'profile' %}');
            }
            else if(y == "not_unique_email") {
              alert("Email already taken!");
              window.location.replace('{% url 'profile' %}');
            }
          </script>
        </form>
{% endblock %}