#profile-link:hover, #settings-link:hover, #signout-link:hover,
#dropdown-btn:hover, .links:hover, .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgb(26, 177, 136);
  transition: .4s ease;
}

.navbar {
  box-shadow:0 4px 120px 4px #383838;
  background-color: white;
  border: none;
  border-radius: 0px;
}


.navbar-center {
  display: inline-block;
  float: none;
}


.navbar .navbar-collapse {
    text-align: center;
}

li a, .navbar-brand {
  font-size:  20px;
}

ul {
  position: relative;
  vertical-align: middle;
}
