/* navbar styles */
.navbar {
  box-shadow:0 4px 30px 4px #383838;
  background-color: white;
  border: none;
  border-radius: 0px;
  margin: 0px;
  z-index: 2;
}


.navbar-center {
  display: inline-block;
  float: none;
}


.navbar .navbar-collapse {
    text-align: center;
}

li a, .navbar-brand {
  font-size:  20px;
}

ul {
  position: relative;
  vertical-align: middle;
}

#profile-link:hover, #settings-link:hover, #signout-link:hover,
#dropdown-btn:hover, .links:hover, .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgb(26, 177, 136);
  transition: .4s ease;
}


/*dashboard content styles*/
.trip-list {
  padding: 0px;
}

.trip-actions {
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding: 5px;
  border-bottom: dotted gray 1px;
}

.trips {
  background: white;
  width: 25%;
  min-height: 110%;
  position: absolute;
  z-index: 1;
  overflow: auto;
  box-shadow: 0 1px 15px 1px #383838;
}

.trip {
  position: relative;
  width: 100%;
  border-bottom: solid gray 2px;
  list-style: none;
  padding: 5px;
}

.trip:hover {
  cursor: pointer;
  background: rgba(26, 177, 136, .7);
  transition: .4s ease;
}

.trip_name {
  position: relative;
  color: black;
  width: 70%;
}

.trip-date {
  position: absolute;
  right: 0px;
  top: 35px;
  padding-right: 5px;
}

.trip_desc {
  position: absolute;
  color: gray;
  width: 70%;
}

.edit-btn {
  position: absolute;
  right: 0px;
  top: 10px;
  font-size: 16px;
  padding-right: 5px;
}

.edit-menu {
  top: 40px;
  left: 25%;
}

.dropdown-menu li a {
  font-size: 12px;
  text-align: center;
}

.edit-menu li a:hover {
  background: rgba(26, 177, 136, .9);
  transition: .4s ease;
}

.dropdown-menu {
  background: #F8F8FF;
  border: none;
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 40%;
  display: inline-block;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #F8F8FF;
  border-left: 6px solid transparent;
  content: '';
}

.glyphicon-edit {
  color: gray;
}

.glyphicon-edit:hover {
  color: black;
  transition: .4s ease;
}

.glyphicon-pencil {
  color: black;
  transition:
}

.glyphicon-log-out {
  color: #A52A2A;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-user {
  color: #1E90FF;
}

.trip_name, .trip_desc {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
    background-color: rgba(26, 177, 136,.8);
    transition: .4s ease;
}

.activities {
  position: absolute;
  height: 100%;
  width: 75%;
  margin-top: 18px;
  margin-left: 25%;
  padding-left: 10px;
}

h3 strong {
  color: white;
}
