img {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  opacity: 0.0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  max-width: 100%;
}

.img-ctrls {
  position: absolute;
  z-index: 2;
  left: 45%;
}

.img-ctrls span {
  cursor: pointer;
  margin-right: 10px;
  display:inline-block;
  width:10px;
  height:10px;
  background: white;
  box-shadow: 0 0 3px gray;
}

.img-ctrls span:hover {
  background: gray;
}

.bg-active {
  opacity: 1;
  filter: alpha(opacity=1); /* For IE8 and earlier */
}

.img-ctrls .selected {
  background: gray;
}

img, .selected {
  transition: 2s ease;
}
