/*transitioning background style*/

/*tag containing the background image*/
img {
  position: absolute;
  top:0px;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}


/*container div holding the img and img-ctrls*/
#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
}


/*toggle buttons for selecting the background image*/
#img-ctrls {
  z-index: 2;
  position: relative;
  padding-bottom: 40px;
  max-width:100px;
  margin: auto;
}

#img-ctrls span {
  cursor: pointer;
  margin-right: 10px;
  display:inline-block;
  width:10px;
  height:10px;
  background: white;
  box-shadow: 0 0 3px gray;
}

#img-ctrls span:hover {
  background: gray;
}


/*background image status*/
.bg-active {
  opacity: 1;
  filter: alpha(opacity=1); /* For IE8 and earlier */
}


#img-ctrls .selected {
  background: gray;
}


img, .selected {
  transition: 2s ease;
}
