/*transitioning background style*/
/*container div holding the img and img-ctrls*/
#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px; 
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  background-position: center center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover; 
}


/*toggle buttons for selecting the background image*/
#img-ctrls {
  z-index: 2;
  position: relative;
  padding-bottom: 40px;
  max-width:100px;
  margin: auto;
}

#img-ctrls span {
  cursor: pointer;
  margin-right: 10px;
  display:inline-block;
  width:10px;
  height:10px;
  background: white;
  box-shadow: 0 0 3px gray;
}

#img-ctrls span:hover {
  background: gray;
}


#img-ctrls .selected {
  background: gray;
}


.bg, .selected {
  transition: 2s ease;
}

.bg-active {
  opacity: 1;
  filter: alpha(opacity=1); /* For IE8 and earlier */
}

img, .selected {
  transition: 2s ease;
}


#bg-travel1{
    background-image: url("../images/travel1.jpg");
}

#bg-travel2 {
    background-image: url("../images/travel2.jpg");
}

#bg-travel3 {
    background-image: url("../images/travel3.jpg");
}

#bg-travel4 {
    background-image: url("../images/travel4.jpg");
}